@define-color bg-color rgb(68, 71, 90);    /* #3C413C */
@define-color bg-color rgba(40, 42, 54, 0.5);    /* #3C4144 */
@define-color active-bg-color rgba(0, 115, 255, 0.5);
@define-color alert-bg-color rgba(255, 42, 42, 0.8);
@define-color fg-color rgb (248, 248, 242);    /* #f3f4f5 */

* {
    border: none;
    border-radius: 0;
    font-family: Dejavu Sans Mono, Noto Sans, FontAwesome, Material Icons, sans-serif;
    font-size: 16px;
    min-height: 0;
    opacity: 1.0;

}

window#waybar {
    background-color: transparent;
    border-bottom: none;
    color: @fg-color;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.4;
}

window#waybar.termite {
    background-color: @bg-color;
}

window#waybar.chromium {
    background-color: @bg-color;
    border: none;
}

#workspaces button {
    padding: 0 5px;
    background-color: @bg-color;
    border-radius: 50%;
    color: @fg-color;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    box-shadow: inherit;
    opacity: 0.8;
}

#workspaces button.active {
    background-color: @bg-color;
    border-bottom: 2px solid @fg-color;
}

#workspaces button.urgent {
    background-color: @alert-bg-color;
}

#mode {
    padding: 0 10px;
    margin: 0 4px;
    background-color: @bg-color;
    border-bottom: 3px solid @fg-color;
}

#battery {
    padding: 0 10px;
    margin: 0 4px;
    background-color: @bg-color;
    color: @fg-color;
}
#battery.charging {
    color: @fg-color;
    background-color: @bg-color;
}
#battery.warning:not(.charging) {
    color: @fg-color;
    background-color: @alert-bg-color;
}
#battery.critical:not(.charging) {
    background-color: @alert-bg-color;
    color: @fg-color;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#custom-bat0,
#custom-bat0.charging {
    padding: 0 10px;
    margin: 0 4px;
    color: @fg-color;
    background-color: @bg-color-10;
}
#custom-bat0.warning:not(.charging):not(.full) {
    color: @fg-color;
    background-color: @alert-bg-color;
}
#custom-bat0.critical:not(.charging):not(.full) {
    background-color: @alert-bg-color;
    color: @fg-color;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: @fg-color;
        color: @bg-color;
    }
}

label:focus {
    background-color: @bg-color;
}

#network.disconnected {
    background-color: @alert-bg-color;
}

#temperature.critical {
    background-color: @alert-bg-color;
}                                       

#cpu, #custom-gpu-usage, #memory, 
#bluetooth, #network, #pulseaudio, 
#clock, #backlight, #battery, #temperature/*, #window*/ {
    padding: 2px 15px;
    margin: 0px 2px;
    border-radius: 9999px;
    background-color: @bg-color;
    color: @fg-color;
}

window#waybar.empty #window, tooltip {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
}

#language {
    padding: 2px 6px;
    margin: 0px 2px;
    border-radius: 9999px;
    background-color: @bg-color;
    color: @fg-color;
}


#custom-vscode-quick-link, #custom-files-quick-link, 
#custom-browser-quick-link, #custom-terminal-quick-link
#power-profiles-daemon, #custom-power, #power-profiles-daemon {
    margin: 2px;
    padding: 2px 5px;
    color: @fg-color;
    background-color: @bg-color;
    border-radius: 50%;
}

tooltip label {
    color: @fg-color;
    background-color: @bg-color;
    padding: 15px 15px;
    border-radius: 15px;
}